*.exe
/bats/bats.tar.gz
/bats/bin/
/bats/logs/
/coverage/
/dist/
/e2e/reports/
/go.work.sum
/node_modules/
/resources/cert-manager*
/resources/darwin/
/resources/host/
/resources/linux/*
!/resources/linux/rancher-desktop.desktop
/resources/preload.js*
/resources/rancher-dashboard/
/resources/rdx-proxy.tar
/resources/spin-operator*
/resources/win32/
/screenshots/output/
/src/go/rdctl/pkg/options/generated/*.go
