/node_modules/
.DS_Store
/resources/darwin/minikube
/resources/darwin/hyperkit
/resources/darwin/jetstream
/resources/darwin/bin/
/resources/stratos/
/dist/**
/.idea/
.nuxt/
/src/dist/
/src/node_modules/
*~
\#*
