[submodule "bats/bats-core"]
	path = bats/bats-core
	url = https://github.com/bats-core/bats-core.git
	branch = master
[submodule "bats/bats-assert"]
	path = bats/bats-assert
	url = https://github.com/bats-core/bats-assert.git
	branch = master
[submodule "bats/bats-support"]
	path = bats/bats-support
	url = https://github.com/bats-core/bats-support.git
	branch = master
[submodule "bats/bats-file"]
	path = bats/bats-file
	url = https://github.com/bats-core/bats-file.git
	branch = master
