# All Linux scripts should have LF line endings
# But only text files should be changed (not any binaries / images / etc.)
resources/linux/** text=auto eol=lf
pkg/rancher-desktop/assets/scripts/** text=auto eol=lf
