go 1.22

use (
	./src/go/docker-credential-none
	./src/go/extension-proxy
	./src/go/github-runner-monitor
	./src/go/mock-wsl
	./src/go/nerdctl-stub
	./src/go/nerdctl-stub/generate
	./src/go/privileged-service
	./src/go/rdctl
	./src/go/vtunnel
	./src/go/wsl-helper
)
