go 1.23.0

toolchain go1.23.4

use (
	./scripts
	./src/go/docker-credential-none
	./src/go/extension-proxy
	./src/go/github-runner-monitor
	./src/go/guestagent
	./src/go/mock-wsl
	./src/go/nerdctl-stub
	./src/go/nerdctl-stub/generate
	./src/go/networking
	./src/go/rdctl
	./src/go/spin-stub
	./src/go/wsl-helper
)
