@import "./vendor/normalize";

@import "./base/variables";
@import "./base/functions";
@import "./base/mixins";
@import "./base/helpers";
@import "./base/color";
@import "./base/basic";
@import "./base/typography";

@import "./fonts/fontstack";
@import "./fonts/dots";
@import "./fonts/zerowidthspace";
@import "./fonts/icons";

@import "./themes/light";
@media screen and (prefers-color-scheme: dark) {
  @import "./themes/dark";
}
@import './themes/_suse.scss';


@import "./global/columns";
@import "./global/cards";
@import "./global/button";
@import "./global/form";
@import "./global/gauges";
@import "./global/labeled-input";
@import "./global/tooltip";
@import "./global/table";
@import "./global/select";
@import "./global/resource";

@import "./vendor/vue-select";

@import "./rancher-desktop.scss";
