/** Rancher Desktop specific styles */
body {
  background-color: var(--body-bg);
  color: var(--body-text);
  font-size: 14px;
}

.labeled-input {
    margin-bottom: 1em;
}
label > button:first-child:not(.btn-sm) {
    margin-right: 1em;
}

@media screen and (prefers-color-scheme: dark) {
    option {
        background-color: var(--input-bg);
    }
}

:is(.btn, button, [class*='btn-']):not([class*='role-']) {
  /* buttons should have one of the role- classes:
   * .role-primary, .role-secondary, .role-tertiary, .role-multi-action, etc.
   */
  outline: 10px dashed red !important;
}

:root {
  --preferences-content-padding: 0.75rem;
}
