@font-face {
  font-family: 'icons';
  src:
    url('fonts/icons.ttf?yhw2o3') format('truetype'),
    url('fonts/icons.woff?yhw2o3') format('woff'),
    url('fonts/icons.svg?yhw2o3#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-show:before {
  content: "\e93a";
}
.icon-hide:before {
  content: "\e93b";
}
.icon-unlock:before {
  content: "\e93c";
}
.icon-lock:before {
  content: "\e93d";
}
.icon-minus:before {
  content: "\e91d";
}
.icon-plus:before {
  content: "\e91e";
}
.icon-circle-plus:before {
  content: "\e91f";
}
.icon-file:before {
  content: "\e900";
}
.icon-monitoring:before {
  content: "\e936";
}
.icon-logging:before {
  content: "\e92e";
}
.icon-notifier:before {
  content: "\e942";
}
.icon-alert:before {
  content: "\e943";
}
.icon-pipeline:before {
  content: "\e944";
}
.icon-folder:before {
  content: "\e901";
}
.icon-dock:before {
  content: "\e945";
}
.icon-list-flat:before {
  content: "\e902";
}
.icon-list-grouped:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e904";
}
.icon-checkmark:before {
  content: "\e91b";
}
.icon-warning:before {
  content: "\e91c";
}
.icon-info:before {
  content: "\e905";
}
.icon-error:before {
  content: "\e914";
}
.icon-chevron-beginning:before {
  content: "\e927";
}
.icon-chevron-end:before {
  content: "\e928";
}
.icon-chevron-right:before {
  content: "\e906";
}
.icon-chevron-left:before {
  content: "\e907";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-up:before {
  content: "\e909";
}
.icon-spinner:before {
  content: "\e90a";
}
.icon-external-link:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-upload:before {
  content: "\e920";
}
.icon-fork:before {
  content: "\e946";
}
.icon-copy:before {
  content: "\e90d";
}
.icon-edit:before {
  content: "\e90e";
}
.icon-trash:before {
  content: "\e90f";
}
.icon-delete:before {
  content: "\e90f";
}
.icon-gear:before {
  content: "\e910";
}
.icon-snapshot:before {
  content: "\e931";
}
.icon-refresh:before {
  content: "\e932";
}
.icon-backup:before {
  content: "\e933";
}
.icon-globe:before {
  content: "\e924";
}
.icon-search:before {
  content: "\e911";
}
.icon-actions:before {
  content: "\e912";
}
.icon-vertical-ellipsis:before {
  content: "\e912";
}
.icon-dot-half:before {
  content: "\e913";
}
.icon-dot-open:before {
  content: "\e915";
}
.icon-dot:before {
  content: "\e916";
}
.icon-star-open:before {
  content: "\e925";
}
.icon-star:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e917";
}
.icon-sort-down:before {
  content: "\e918";
}
.icon-sort-up:before {
  content: "\e919";
}
.icon-sort:before {
  content: "\e91a";
}
.icon-terminal:before {
  content: "\e923";
}
.icon-pause:before {
  content: "\e921";
}
.icon-play:before {
  content: "\e929";
}
.icon-docker:before {
  content: "\e92a";
}
.icon-github:before {
  content: "\e922";
}
.icon-apple:before {
  content: "\e93e";
}
.icon-windows:before {
  content: "\e93f";
}
.icon-linux:before {
  content: "\e940";
}
.icon-backup-restore:before {
  content: "\e934";
}
.icon-cis:before {
  content: "\e935";
}
.icon-istio:before {
  content: "\e92f";
}
.icon-gatekeeper:before {
  content: "\e938";
}
.icon-longhorn:before {
  content: "\e937";
}
.icon-fleet:before {
  content: "\e939";
}
.icon-rio:before {
  content: "\e930";
}
.icon-marketplace:before {
  content: "\e92b";
}
.icon-compass:before {
  content: "\e92c";
}
.icon-cluster-management:before {
  content: "\e941";
}
.icon-cluster:before {
  content: "\e92d";
}
