@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?8pvk2o') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?8pvk2o') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?8pvk2o##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-minus {
  &:before {
    content: $icon-minus; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-circle-plus {
  &:before {
    content: $icon-circle-plus; 
  }
}
.icon-file {
  &:before {
    content: $icon-file; 
  }
}
.icon-monitoring {
  &:before {
    content: $icon-monitoring; 
  }
}
.icon-logging {
  &:before {
    content: $icon-logging; 
  }
}
.icon-folder {
  &:before {
    content: $icon-folder; 
  }
}
.icon-list-flat {
  &:before {
    content: $icon-list-flat; 
  }
}
.icon-list-grouped {
  &:before {
    content: $icon-list-grouped; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-x {
  &:before {
    content: $icon-x; 
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark; 
  }
}
.icon-warning {
  &:before {
    content: $icon-warning; 
  }
}
.icon-info {
  &:before {
    content: $icon-info; 
  }
}
.icon-error {
  &:before {
    content: $icon-error; 
  }
}
.icon-chevron-beginning {
  &:before {
    content: $icon-chevron-beginning; 
  }
}
.icon-chevron-end {
  &:before {
    content: $icon-chevron-end; 
  }
}
.icon-chevron-right {
  &:before {
    content: $icon-chevron-right; 
  }
}
.icon-chevron-left {
  &:before {
    content: $icon-chevron-left; 
  }
}
.icon-chevron-down {
  &:before {
    content: $icon-chevron-down; 
  }
}
.icon-chevron-up {
  &:before {
    content: $icon-chevron-up; 
  }
}
.icon-spinner {
  &:before {
    content: $icon-spinner; 
  }
}
.icon-external-link {
  &:before {
    content: $icon-external-link; 
  }
}
.icon-download {
  &:before {
    content: $icon-download; 
  }
}
.icon-upload {
  &:before {
    content: $icon-upload; 
  }
}
.icon-copy {
  &:before {
    content: $icon-copy; 
  }
}
.icon-edit {
  &:before {
    content: $icon-edit; 
  }
}
.icon-trash {
  &:before {
    content: $icon-trash; 
  }
}
.icon-delete {
  &:before {
    content: $icon-delete; 
  }
}
.icon-gear {
  &:before {
    content: $icon-gear; 
  }
}
.icon-snapshot {
  &:before {
    content: $icon-snapshot; 
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh; 
  }
}
.icon-backup {
  &:before {
    content: $icon-backup; 
  }
}
.icon-globe {
  &:before {
    content: $icon-globe; 
  }
}
.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-actions {
  &:before {
    content: $icon-actions; 
  }
}
.icon-vertical-ellipsis {
  &:before {
    content: $icon-vertical-ellipsis; 
  }
}
.icon-dot-half {
  &:before {
    content: $icon-dot-half; 
  }
}
.icon-dot-open {
  &:before {
    content: $icon-dot-open; 
  }
}
.icon-dot {
  &:before {
    content: $icon-dot; 
  }
}
.icon-star-open {
  &:before {
    content: $icon-star-open; 
  }
}
.icon-star {
  &:before {
    content: $icon-star; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-sort-down {
  &:before {
    content: $icon-sort-down; 
  }
}
.icon-sort-up {
  &:before {
    content: $icon-sort-up; 
  }
}
.icon-sort {
  &:before {
    content: $icon-sort; 
  }
}
.icon-terminal {
  &:before {
    content: $icon-terminal; 
  }
}
.icon-pause {
  &:before {
    content: $icon-pause; 
  }
}
.icon-play {
  &:before {
    content: $icon-play; 
  }
}
.icon-docker {
  &:before {
    content: $icon-docker; 
  }
}
.icon-github {
  &:before {
    content: $icon-github; 
  }
}
.icon-backup-restore {
  &:before {
    content: $icon-backup-restore; 
  }
}
.icon-cis {
  &:before {
    content: $icon-cis; 
  }
}
.icon-istio {
  &:before {
    content: $icon-istio; 
  }
}
.icon-gatekeeper {
  &:before {
    content: $icon-gatekeeper; 
  }
}
.icon-longhorn {
  &:before {
    content: $icon-longhorn; 
  }
}
.icon-fleet {
  &:before {
    content: $icon-fleet; 
  }
}
.icon-rio {
  &:before {
    content: $icon-rio; 
  }
}
.icon-marketplace {
  &:before {
    content: $icon-marketplace; 
  }
}
.icon-compass {
  &:before {
    content: $icon-compass; 
  }
}
.icon-cluster {
  &:before {
    content: $icon-cluster; 
  }
}

