$icomoon-font-family: "icons" !default;
$icomoon-font-path: "fonts" !default;

$icon-show: "\e93a";
$icon-hide: "\e93b";
$icon-unlock: "\e93c";
$icon-lock: "\e93d";
$icon-minus: "\e91d";
$icon-plus: "\e91e";
$icon-circle-plus: "\e91f";
$icon-file: "\e900";
$icon-monitoring: "\e936";
$icon-logging: "\e92e";
$icon-notifier: "\e942";
$icon-alert: "\e943";
$icon-pipeline: "\e944";
$icon-folder: "\e901";
$icon-dock: "\e945";
$icon-list-flat: "\e902";
$icon-list-grouped: "\e903";
$icon-close: "\e904";
$icon-x: "\e904";
$icon-checkmark: "\e91b";
$icon-warning: "\e91c";
$icon-info: "\e905";
$icon-error: "\e914";
$icon-chevron-beginning: "\e927";
$icon-chevron-end: "\e928";
$icon-chevron-right: "\e906";
$icon-chevron-left: "\e907";
$icon-chevron-down: "\e908";
$icon-chevron-up: "\e909";
$icon-spinner: "\e90a";
$icon-external-link: "\e90b";
$icon-download: "\e90c";
$icon-upload: "\e920";
$icon-fork: "\e946";
$icon-copy: "\e90d";
$icon-edit: "\e90e";
$icon-trash: "\e90f";
$icon-delete: "\e90f";
$icon-gear: "\e910";
$icon-snapshot: "\e931";
$icon-refresh: "\e932";
$icon-backup: "\e933";
$icon-globe: "\e924";
$icon-search: "\e911";
$icon-actions: "\e912";
$icon-vertical-ellipsis: "\e912";
$icon-dot-half: "\e913";
$icon-dot-open: "\e915";
$icon-dot: "\e916";
$icon-star-open: "\e925";
$icon-star: "\e926";
$icon-user: "\e917";
$icon-sort-down: "\e918";
$icon-sort-up: "\e919";
$icon-sort: "\e91a";
$icon-terminal: "\e923";
$icon-pause: "\e921";
$icon-play: "\e929";
$icon-docker: "\e92a";
$icon-github: "\e922";
$icon-apple: "\e93e";
$icon-windows: "\e93f";
$icon-linux: "\e940";
$icon-backup-restore: "\e934";
$icon-cis: "\e935";
$icon-istio: "\e92f";
$icon-gatekeeper: "\e938";
$icon-longhorn: "\e937";
$icon-fleet: "\e939";
$icon-rio: "\e930";
$icon-marketplace: "\e92b";
$icon-compass: "\e92c";
$icon-cluster-management: "\e941";
$icon-cluster: "\e92d";

