$btn-padding: 0 21px 0 21px;
$btn-sm-padding: 0 7px 0 7px;
$btn-height: 40px;
$btn-sm-height: 30px;

// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn,
button,
[class^='btn-'] {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0;
  padding: $btn-padding;
  border-radius: var(--border-radius);
  color: var(--lightest);
  line-height: $btn-height;
  min-height: $btn-height;

  &:hover {
    text-decoration: none;
    color: var(--lightest);
  }

  &.bg-transparent {
    color: var(--body-text);
  }
}

//icon button
.icon-btn {
  padding: 0;
  line-height: initial;

  &.btn-sm {
    padding: 0;
  }

  span {
    padding: 0 10px 0 5px;
    vertical-align: middle;
  }
}

.btn-sm,
.btn-group-sm > .btn,
.btn-sm .btn-label {
  padding: $btn-sm-padding;
  min-height: $btn-sm-height;
  line-height: 28px;
}

//btn roles
.role-primary {
  background: var(--link-text);
  color: var(--primary-text);

  &:hover {
    background-color: var(--primary-hover-bg);
    color: var(--primary-text);
  }
}

.role-destructive {
  background: var(--diff-del-bg);
  border: solid thin var(--diff-del-border);
  color: var(--diff-del-border) !important;
}

.role-destructive:disabled {
  border: solid thin var(--disabled-text);
  color: var(--disabled-text) !important;
}

.role-secondary {
  background: transparent;
  color: var(--primary) !important;
  border: solid thin var(--primary);
}

.role-tertiary {
  background: var(--accent-btn);
  border: solid thin var(--link-text);
  color: var(--link-text);
}

.role-link {
  background: transparent;
  color: var(--link-text) !important;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.role-multi-action {
  background: var(--accent-btn);
  border: solid thin var(--link-text);
  color: var(--link-text);
  border-radius: 2px;
}

.icon-group i {
  font-size: 1.5em;
}

//disabled
.btn-disabled,
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  color: var(--disabled-text) !important;
  &:not(.role-link){
    border: solid thin var(--input-disabled-border);
    background-color: var(--disabled-bg) !important;
  }
}

.btn-group {
  position: relative;
  text-align: initial;
  vertical-align: middle;
  padding: 0;
  border-radius: var(--border-radius);

  .btn {
    position: relative;
    display: inline-block;
    border-radius: 0;
    text-align: center;

    &:focus {
      // Move the focused one to the top so that the focus ring is all visible
      z-index: 1;
    }

    &.active {
      @extend .bg-primary;
    }

    &:first-child {
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
    }

    &:last-child {
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }
  }
}
