.links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  .link-container {
    background-color: var(--input-bg);
    border-radius: var(--border-radius);
    border: solid 1px var(--input-border);
    display: flex;
    flex-basis: 40%;
    margin: 0 10px 10px 0;
    max-width: 325px;
    min-height: 100px;
    border-left: solid 10px var(--primary);

    a[disabled] {
      cursor: not-allowed;
      background-color: var(---disabled-bg);
    }

    &:hover {
      box-shadow: 0px 0px 1px var(--outline-width) var(--outline);
    }

    > * {
      align-items: center;
      display: flex;
      flex: 1 0;
      padding: 10px;

      .link-logo,
      .link-content {
        display: inline-block;
      }

      .link-logo {
        text-align: center;
        // position: absolute;
        // left: 25px;
        // top: 25px;
        width: 60px;
        height: 60px;
        border-radius: calc(2 * var(--border-radius));
        background-color: white;

        img {
          width: 56px;
          height: 56px;
          -o-object-fit: contain;
          object-fit: contain;
          position: relative;
          top: 2px;
        }
      }

      .link-content {
        width: 100%;
        margin-left: 10px;
      }

      .description {
        margin-top: 10px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        // -webkit-line-clamp: 3;
        // line-clamp: 3;
        text-overflow: ellipsis;
        color: var(--secondary);
      }
    }
  }
}
