.tooltip {
  $triangle-size: 8px;
  $triangle-inner-size: $triangle-size - 1px;
  $center: calc(50% - #{$triangle-size});

  display: block !important;
  z-index: z-index('tooltip');
  max-width: 50vw;

  .tooltip-inner {
    background: var(--tooltip-bg);
    color: var(--tooltip-text);
    border-radius: var(--border-radius);
    padding: 8px;
  }

  .tooltip-arrow {
    width: 0;
    height: 0;
    border: 0 solid transparent;
    position: absolute;
    z-index: 1;

    &:after {
      position: absolute;
      border: $triangle-inner-size solid transparent;
      content: '';
    }
  }

  &[x-placement^="top"] {
    margin-bottom: $triangle-size;

    .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      bottom: -4px;
    }

    margin-bottom: $triangle-size;

    .tooltip-arrow {
      bottom: -$triangle-inner-size;

      &:after {
        border-bottom-width: 0;
        border-top-color: var(--tooltip-bg);
        bottom: 1px;
        left: -$triangle-inner-size;
      }
    }
  }


  &[x-placement^="bottom"] {
    margin-top: $triangle-size;

    .tooltip-arrow {
      top: -$triangle-inner-size;

      &:after {
        border-top-width: 0;
        border-bottom-color: var(--tooltip-bg);
        top: 1px;
        left: -$triangle-inner-size;
        background: transparent;
      }
    }
  }

  &[x-placement^="right"] {
    margin-left: $triangle-size;

    .tooltip-arrow {
      left: -$triangle-inner-size;

      &:after {
        border-left-width: 0;
        border-right-color: var(--tooltip-bg);
        left: 1px;
        top: -$triangle-inner-size;
      }
    }
  }

  &[x-placement^="left"] {
    margin-right: $triangle-size;

    .tooltip-arrow {
      right: -$triangle-inner-size;

      &:after {
        border-right-width: 0;
        border-left-color: var(--tooltip-bg);
        right: 1px;
        top: -$triangle-inner-size;
      }
    }
  }

  &.tooltip-warning {
    .tooltip-inner {
      background: var(--tooltip-bg-warning);
      color: var(--tooltip-text-warning);
    }

    &[x-placement^="top"] {
      .tooltip-arrow {
        &:after {
          border-top-color: var(--tooltip-bg-warning);
        }
      }
    }


    &[x-placement^="bottom"] {
      .tooltip-arrow {
        &:after {
          border-bottom-color: var(--body-bg);
        }
      }
    }

    &[x-placement^="right"] {
      .tooltip-arrow {
        &:after {
          border-right-color: var(--tooltip-bg-warning);
        }
      }
    }

    &[x-placement^="left"] {
      .tooltip-arrow {
        &:after {
          border-left-color: var(--tooltip-bg-warning);
        }
      }
    }
  }
}

.popover {
  $color: var(--popover-bg);
  border: 1px solid var(--border);
  border-radius: var(--border-radius);

  .popover-inner {
    background: $color;
    color: var(--popover-text);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: 0 5px 20px var(--shadow);

    a {
      color: var(--popover-text);
    }
  }

  .popover-arrow {
    border-color: transparent;
  }

  &[x-placement^="bottom"] {
    .popover-arrow {
      &:after {
        // border-bottom-color: var(--popover-bg);
        border-bottom-width: 0;
      }
    }
  }

}

.v-popover {
  display: inline;
}

.tooltip, .popover {
  &[aria-hidden='true'] {
    // This removes it from the layout of ButtondropDown (so it doesn't render huge for SSR) but
    // still allows it to maintain it's dimensions for v-tooltip to calculate the appropriate position.
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
}

//icon tooltip
.icon-info.has-tooltip {
  font-size: 14px;
}
