# Default Lima configuration; parts will be overridden in code.

ssh:
  loadDotSSHPubKeys: false
firmware:
  legacyBIOS: true
containerd:
  system: false
  user: false
# Provisioning scripts run on every boot, not just initial VM provisioning.
provision:
- # Make sure hostname doesn't change during upgrade from earlier versions
  mode: system
  script: |
    #!/bin/sh
    hostname lima-rancher-desktop
- # Clean up filesystems
  mode: system
  script: |
    #!/bin/sh
    set -o errexit -o nounset -o xtrace
    # During boot is the only safe time to delete old k3s versions.
    rm -rf /var/lib/rancher/k3s/data
    # Delete all tmp files older than 3 days.
    find /tmp -depth -mtime +3 -delete
- # When the ISO image is updated, copy all newer files in /etc
  # and /usr/local to the data volume on /mnt/data.
  mode: system
  script: |
    #!/bin/sh
    set -o errexit -o nounset -o xtrace
    mkdir -p /bootfs
    mount --bind / /bootfs
    if ! diff -q /etc/os-release /bootfs/etc/os-release; then
        rm /bootfs/etc/machine-id
        cp -pruT /bootfs/etc /etc
        cp -pruT /bootfs/usr/local /usr/local
    fi
    umount /bootfs
    rmdir /bootfs
- # Make mount-points shared.
  mode: system
  script: |
    #!/bin/sh
    set -o errexit -o nounset -o xtrace
    for dir in / /etc /tmp /var/lib; do
      mount --make-shared "${dir}"
    done
- # This sets up cron (used for logrotate)
  mode: system
  script: |
    #!/bin/sh
    # Move logrotate to hourly, because busybox crond only handles time jumps up
    # to one hour; this ensures that if the machine is suspended over long
    # periods, things will still happen often enough.  This is idempotent.
    mv -n /etc/periodic/daily/logrotate /etc/periodic/hourly/
    rc-update add crond default
    rc-service crond start
portForwards:
- guestPortRange: [1, 65535]
  hostIP: "0.0.0.0"
