@import "./vendor/normalize";

@import "./base/variables";
@import "./base/functions";
@import "./base/mixins";
@import "./base/helpers";
@import "./base/color";
@import "./base/basic";
@import "./base/typography";

@import "./fonts/fira";
@import "./fonts/dots";
@import "./fonts/zerowidthspace";
@import "./fonts/icons";

@import "./themes/light";
@import "./themes/dark";

// @import "./global/columns";
@import "./global/cards";
@import "./global/button";
@import "./global/form";
@import "./global/gauges";
@import "./global/labeled-input";
@import "./global/tooltip";
@import "./global/table";

/* @import 'vue-select/src/scss/vue-select.scss'; */
// @import "./vendor/vue-select";
// @import "./vendor/vue-js-modal";
