name: Package

on:
  pull_request: {}
  push:
    branches:
      - main
    tags:
      - '*'
  workflow_dispatch:
    inputs:
      name:
        description: 'Why?'
        required: true
        default: 'Testing a new package'

defaults:
  run:
    shell: bash

jobs:
  package:
    strategy:
      matrix:
        os:
        - macos-10.15
        - windows-2019
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
        # Needed to run `git describe` to get full version info
        fetch-depth: 0
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - uses: actions/setup-python@v2
      with:
        python-version: '2.x'
    - name: Install Windows dependencies
      if: startsWith(matrix.os, 'windows-')
      shell: powershell
      run: .\scripts\windows-setup.ps1 -SkipVisualStudio -SkipTools
    - run: npm ci
    - name: npm run build
      run: |
        case "${{ matrix.os }}" in
          macos-*)
            npm run build -- --mac --publish=never
            ;;
          windows-*)
            npm run build -- --win --publish=never
            ;;
        esac
    - uses: actions/upload-artifact@v2
      if: startsWith(matrix.os, 'macos-')
      with:
        name: Rancher Desktop.dmg
        path: dist/Rancher Desktop*.dmg
        if-no-files-found: error
    - uses: actions/upload-artifact@v2
      if: startsWith(matrix.os, 'macos-')
      with:
        name: Rancher Desktop-mac.zip
        path: dist/Rancher Desktop*-mac.zip
        if-no-files-found: error
    - uses: actions/upload-artifact@v2
      if: startsWith(matrix.os, 'windows-')
      with:
        name: Rancher Desktop Setup.exe
        path: dist/Rancher Desktop*.exe
        if-no-files-found: error
    - uses: actions/upload-artifact@v2
      if: startsWith(matrix.os, 'windows-')
      with:
        name: Rancher Desktop-win.zip
        path: dist/Rancher Desktop-*-win.zip
        if-no-files-found: error
