name: Test

on:
  push: {}
  pull_request: {}

permissions: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - uses: ./.github/actions/yarn-install
    - run: yarn build
    - run: yarn lint:nofix
      env: { RD_LINT_SKIP_SPELLING: 1 }
    - name: Install shfmt
      run: go install mvdan.cc/sh/v3/cmd/shfmt@latest
    - run: make -C bats lint
    - run: yarn test
      env: { RD_LINT_SKIP_SPELLING: 1 }
  lint:
    strategy:
      matrix:
        # We run the Linux lint in the `test` flow, no need to repeat it.
        runs-on: [windows-latest, macos-latest]
    runs-on: ${{ matrix.runs-on }}
    steps:
    - if: runner.os == 'Windows'
      name: Configure git to use Unix line endings
      run: |
        git config --global core.autocrlf false
        git config --global core.eol lf
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        persist-credentials: false
    - uses: ./.github/actions/yarn-install
    - run: ./scripts/node-license-check.sh
      shell: bash
    - run: ./scripts/go-license-check.sh
      shell: bash
    - run: yarn lint:nofix
      env: { RD_LINT_SKIP_SPELLING: 1 }
