name: Test

on:
  push: {}
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
      with:
        persist-credentials: false
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - uses: actions/setup-go@v2
      with:
        go-version: '^1.16'
    - run: npm ci
    - run: npm run lint:nofix
    - run: npm test
