.labeled-input {
  position: relative;
  display: table;
  border-collapse: separate;
  min-height: $input-height;

  LABEL {
    position: absolute;
    transform: translate(0, -10px) scale(1);
    transform-origin: top left;
    transition-property: transform, font-size;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
    color: var(--input-label);
    pointer-events: none;
    i {
      pointer-events: initial;
    }
  }

  .corner {
    top: 5px;
    right: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
    z-index: 3;
    transform: none !important;
  }

  .required {
    color: var(--error);
  }

  INPUT, SELECT {
    position: relative;
    font-size: 14px;
    display: block;
    width: 100%;
  }

  SELECT.empty {
    color: var(--input-placeholder);
  }

  SELECT {
    -webkit-appearance: textfield;
    user-select: none;
  }

  INPUT, INPUT:hover, INPUT:focus,
  TEXTAREA, TEXTAREA:hover, TEXTAREA:focus,
  SELECT, SELECT:hover, SELECT:focus {
    border: none;
    background-color: transparent;
    outline: 0;
    box-shadow: none;
    padding: $input-padding-lg 0 0 0;
    line-height: calc(#{$input-line-height} + 1px);

    &.no-label {
      padding: $input-padding-sm 0px $input-padding-sm 0px;
    }
  }

  &.view > DIV:not(.addon) {
    font-size: 14px;
    padding: $input-padding-lg 0 0 0;

    &.no-label {
      padding-top:0px;
    }
  }

  &.create,
  &.edit,
  &.view {
    .addon,
    .addon.btn {
      display: table-cell;
      vertical-align: middle;
      width: 1%;
      white-space: nowrap;
      vertical-align: middle;
      color: #{$secondary};
    }

    .addon {
      padding: 6px 12px;
      font-size: 14px;
      font-weight: normal;
      line-height: 1;
      text-align: center;
      border-left: solid thin #{$secondary};
    }
  }

  &.suffix INPUT {
    padding-right: 8px;
  }

  .cron-label{
    position: absolute;
    top: 100%;
    padding-top: 5px;
    left: 0;
    color: var(--input-label);
  }



}
